- unless @tests.empty?
  .container.test_menu
    = render :partial => 'menu_block', locals: { name: t('game.all_packs'), tests: @tests }
    = paginate @tests, param_name: :all_tests
- else
  %h1.text-center.m-3 Oops. Nothing to see here yet
