@import "bootstrap";
@import "game";

body {
  // padding for fixed header
  padding-top: 56px;
}

#content .inactive {
  pointer-events: none;
  opacity: 0.5;
}

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// for side bar

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}
