@font-face {
    font-family: 'ClearSans';
    src: font-url('ClearSans/ClearSans-Thin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ClearSans';
    src: font-url('ClearSans/ClearSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'ClearSans';
    src: font-url('ClearSans/ClearSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@import "bootstrap";
@import "dataTables/jquery.dataTables";
@import "css/jquery.bootstrap-touchspin";
@import "css/bootstrap-notify";
@import "css/odometer-theme-default";
@import "font-awesome";
@import 'slick';
@import 'slick-theme';
@import "game";
@import "personal_account";
.devise {
  @import "devise";
}

body {
  font-family: 'ClearSans', sans-serif;
}

.alert {
  margin: 5px;
}

.vertical_line {
  border-left: 2px solid #777;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 105px;
}

.modal-backdrop {
  background-color: #fff;
}

.settings-modal-sm {
  color: white;
  .modal-title {
    width: 100%;
    text-align: center;
  }
  .modal-content {
    background: rgba(0, 0, 0, 0.7);
  }
  .close {
    color: white;
  }
  .final_block, .level_block, .quarter_block {
    width: 300px;
    margin: 10px auto;
    input, button.btn, a.btn {
      background: rgba(115, 115, 115, 0.5);
      color: white;
    }
  }
  .level_block, .quarter_block {
    input, button.btn {
      height: 40px;
    }
    input {
      border: none;
      padding-top: 10px;
    }
    button.btn {
      padding: 0px 10px;
      margin: 0;
    }
    span.badge {
      position: absolute;
      margin: auto;
      width: 50px;
      left: 0;
      right: 0;
      z-index: 1;
      background: none;
      font-weight: 100;
      text-transform: uppercase;
    }
  }
  .modal-footer.final_block {
    border: none;
    padding: 0;
    margin-top: 0;
    button.btn, a.btn {
      width: 40px;
      margin: 0;
    }
    button.btn-success {
      width: 210px;
      margin: 0 5px;
      background: #c9e265;
      text-align: center;
      font-weight: bolder;
    }
  }
}

.hint {
  position: sticky;
  background: rgba(255, 255, 255, 0.75);
  width: 100vw;
  height: 100vh;
  bottom: 0;
  top: 0;
  overflow: hidden;
  img {
    position: absolute;
    bottom: 0;
    height: 50vh;
    margin: auto;
    left: 0;
    right: 0;
  }
}

.btn-circle {
    width: 50px;
    height: 50px;
    padding: 6px 0px;
    border-radius: 25px;
    text-align: center;
    font-size: 24px;
    line-height: 1.42857;
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.picture.nav-link {
  text-align: center;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 20px;
  line-height: 50px;
  color: white;
  background: blue;
}

.picture.nav-link {
  padding: 0;
  margin: 0;
  color: white !important;
  background: #9d9c91;
}

.flag {
  height: 1em;
  width: 1.3em;
  padding: 1px;
  vertical-align: text-top;
}

.not_drag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.odometer.odometer-auto-theme, .odometer.odometer-theme-default {
  font-family: 'ClearSans', sans-serif;
}

[data-text]::after {
  content: attr(data-text);
}

.btn-active {
  @extend .btn-secondary, :hover;
}

#content .inactive {
  pointer-events: none;
  opacity: 0.5;
}

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.navbar-nav.ml-auto > .nav-item > .nav-link {
  line-height: calc(50px - 1rem);
}

// for side bar

.bottomnav {
  max-width: 500px;
  height: 50px;
  width: fit-content;
  position: fixed;
  z-index: 10000;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(115, 115, 115);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  display: inline-block;
  padding: 0 20px;
  margin: auto;
  text-align: center;
  i {font-size: 30px;}
  span {
    font-size: 25px;
    vertical-align: unset;
  }
  i, span {
    color: #818181;
  }
  li {
    // vertical-align:
    list-style-type: none;
    vertical-align: middle;
    display: inline-block;
    height: 30px;
    margin: 12px 2px;
    position: relative;
  }
}

.bottomnav, .mobnav {
  button.btn {
    border-color: #f8f9fa;
    border-radius: 3px;
    border-width: 1.2px;
    height: 30px;
    padding: 0 0.75rem;
    font-size: 18px;
    color: #f8f9fa;
    &:hover, &:active {
      color: white;
    }
  }
  .input-group-btn button {
    background-color: white;
    color: black;
    &:hover {
      color: black;
    }
  }
  .badge {
    z-index: 100;
    position: absolute;
    margin: auto;
    padding: 1px;
    width: 65%;
    top: -8px;
    left: 0;
    right: 0;
    font-size: 15px;
    font-weight: 100;
    &.badge-light {
      color: black;
      background-color: rgb(238, 240, 242);
    }
    &.badge-secondary {
      color: white;
      background-color: rgb(155, 160, 169);
    }
  }

}

.bottomnav a {
  padding: 0;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
  &:hover i {
      color: #f1f1f1;
  }
}

.card_block {
  text-align: right;
  min-width: 20%;
  i.star {
    color: rgba(115, 109, 115, 0.7);
    position: absolute;
    top: 20px;
    -webkit-transform: translateX(-25px);
    transform: translateX(-30px);
    z-index: 5;
    font-size: 20px;
  }
  i.star:hover, i.active {
    color: #ffef00 !important;
  }
  i.active:before {
    content: "\f005";
  }
}

footer {
  > * {
    font-family: 'ClearSans', sans-serif;
    font-weight: 300;
    font-size: .9rem;
  }
  a, a:hover {
    color: #fff;
  }
  .deep-purple.accent-2 {
    background-color: #7c4dff!important;
  }
}

nav.pagination {
  margin: 10px 0;
  display: block;
  text-align: right;
  span {
    padding: 3px;
  }
}
// Import in the end to overwrite rools without important
@import "mobile";
@-webkit-keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    color: #ffef00 !important;
    opacity: 0.2;
  }
  100% {

    opacity: 1;
  }
}
@keyframes blink-2 {
  0% {
    opacity: 1;
  }
  50% {
    color: #ff8d00;
    opacity: 0.2;
  }
  100% {
    color: #ffef00;
    opacity: 1;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
    height: 0px;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    height: 60px;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
    height: 0px;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    height: 60px;
  }
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    height: 60px;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
    height: 0px;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    height: 60px;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
    height: 0px;
  }
}
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
    height: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    height: unset;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
    height: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    height: unset;
  }
}
@-webkit-keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    height: 60px;

  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
    height: 0px;

  }
}
@keyframes slide-out-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    height: 60px;
  }
  100% {
    -webkit-transform: translateY(1000px);
            transform: translateY(1000px);
    opacity: 0;
    height: 0px;
  }
}

.slide-in-top {
	-webkit-animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-top {
	-webkit-animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-top 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.slide-in-bottom {
	-webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-bottom {
	-webkit-animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bottom 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
