@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "bootstrap";
@import "font-awesome";
@import 'slick';
@import 'slick-theme';
@import "game";
@import "chat";
.devise {
  @import "devise";
}

.not_drag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[data-text]::after {
  content: attr(data-text);
}

.btn-active {
  @extend .btn-secondary, :hover;
}

#content .inactive {
  pointer-events: none;
  opacity: 0.5;
}

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.navbar-nav.ml-auto > .nav-item > .nav-link {
  line-height: calc(50px - 1rem);
}

// for side bar

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  display: flex;
  flex-direction: column;
  padding: 0;
  li {padding: 5px 0;}
  .text-center {
    margin: 4.5px auto 0;
    list-style-type: none;
  }
}

.sidenav .bottom {
  margin-top: auto;
}

.sidenav {
  i {font-size: 30px;}
  span {
    font-size: 25px;
    vertical-align: unset;
  }
  i, span {
    color: #818181;
  }
}

.sidenav a {
  padding: 0;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
}

.sidenav a:hover i {
    color: #f1f1f1;
}

.card_block {
  text-align: right;
  min-width: 20%;
  i.star {
    color: rgba(115, 109, 115, 0.7);
    position: absolute;
    top: 20px;
    transform: translateX(-25px);
    z-index: 5;
  }
  i.star:hover, i.active {
    color: #ffef00 !important;
  }
  i.active:before {
    content: "\f005";
  }
}

footer {
  > * {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9rem;
  }
  a, a:hover {
    color: #fff;
  }
  .deep-purple.accent-2 {
    background-color: #7c4dff!important;
  }
}
// Import in the end to overwrite rools without important
@import "mobile";
