@import "bootstrap";
@import "font-awesome";
@import 'slick';
@import 'slick-theme';
@import "game";
@import "chat";

.not_drag {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

[data-text]::after {
  content: attr(data-text);
}

.btn-active { @extend .btn-secondary:hover; }

#content .inactive {
  pointer-events: none;
  opacity: 0.5;
}

ul#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// for side bar

.sidenav {
  height: 100%;
  width: 100px;
  position: fixed;
  z-index: 0;
  top: 0;
  left: 0;
  background-color: #111;
  display: flex;
  flex-direction: column;
  padding: 0;
  li {padding: 5px 0;}
  .text-center {
    margin: 4.5px auto 0;
    list-style-type: none;
  }
}

.sidenav .bottom {
  margin-top: auto;
}

.sidenav {
  i {font-size: 30px;}
  span {
    font-size: 25px;
    vertical-align: unset;
  }
  i, span {
    color: #818181;
  }
}

.sidenav a {
  padding: 0;
  text-decoration: none;
  font-size: 18px;
  color: #818181;
}

.sidenav a:hover i {
    color: #f1f1f1;
}

.card_block {
  text-align: center;
  min-width: 20%;
  i.star {
    color: rgba(115, 109, 115, 0.7);
    position: absolute;
    top: 12%;
    transform: translateX(50px);
    z-index: 5;
  }
  i.star:hover, i.active {
    color: #ffef00 !important;
  }
  i.active:before {
    content: "\f005";
  }
}
