// Place all the styles related to the chat controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chat {
  /* Chat containers */
  .container {
    padding: 10px;
    margin: 10px auto;
    &:not(.no_wrap) {
      border: 2px solid #dedede;
      background-color: #f1f1f1;
      border-radius: 5px;
    }
    /* Darker chat container */
    &.darker {
      border-color: #ccc;
      background-color: #ddd;
      p {
        margin-bottom: 0;
      }
    }
  }

  /* Clear floats */
  .container::after {
      content: "";
      clear: both;
      display: table;
  }

  /* Style the right image */
  .container img.right {
      float: right;
      margin-left: 20px;
      margin-right:0;
  }

  /* Style time text */
  .time-right {
      float: right;
      color: #aaa;
  }

  /* Style time text */
  .time-left {
      float: left;
      color: #999;
  }
}

/* Style images */
.chat .container .picture, .picture.nav-link {
  text-align: center;
  float: left;
  margin-right: 20px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  font-size: 20px;
  line-height: 50px;
  color: white;
  background: blue;
}

.picture.nav-link {
  padding: 0;
  margin: 0;
  color: white !important;
  background: #9d9c91;
}
