$block_size: calc(20vh - 18px);
$img_size: calc(20vh - 20px);

.connectedSortable, .exampleSortable {
  border: 1px solid #eee;
  list-style-type: none;
  padding: 0;
  display: table;
  margin: 10px auto;
  width: 150px;
  height: 150px;
}
.temp_black {
  background: rgba(193, 189, 189, 0.6);
}
.img_over {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 150px;
}
.good {
  color: green;
  /* we dont need to align this alement because it is squere */
  width: 100%;
}
.bad {
  color: red;
  /* But this need */
  width: 80%;
}
.bage {
  margin: auto;
}
#refresh_btn {
  display: none;
}
.connectedSortable li {
  position: relative;
  float: left;
  width: 150px;
  height: 150px;
}
.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
 }

/* For card-images  */
img.card {
  margin: 10px auto;
}
.connectedSortable img, img.card, .exampleSortable img {
  width: 100%;
  height: auto;
  border: 9px solid #eee;
  background: white;
  overflow: hidden;
}

// .slider-block {
//   .card_block {
//     height: $block_size;
//     width: $block_size;
//   }
//   .connectedSortable img, img.card, .exampleSortable img {
//     height: $img_size;
//     width: $img_size;
//   }
// }

/* For bootstrap popup */
.btn-group-vertical {
  width: 100%;
  button {text-align: left;}
}
