$block_size: calc(20vh - 18px);
$img_size: calc(20vh - 20px);

#try_again .modal-body {
  text-align: center;
  img {
    height: 20vw;
    max-width: 100%;
    min-height: 150px;
  }
}

.connectedSortable, .exampleSortable {
  list-style-type: none;
  padding: 0;
  width: 100%;
  height: 100%;
}
.full-width {
  position: absolute;
  top: 0;
  line-height: 13vw;
  margin: 0;
  padding: 2.5px 0;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.temp_black {
  background: rgba(193, 189, 189, 0.6);
  h3 {
    padding: 5px;
  }
}
.img_over {
  position: absolute;
  text-align: center;
  background:rgba(255,255,255,0.5);
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 110px;
  line-height: inherit;
  z-index: 100;
}
.good {
  color: green;
}
.bad {
  color: red;
}

.ui-state-default {
  height: inherit;
}
.bage {
  margin: auto;
}
.level_block, .quarter_block {
  .btn-default:hover, .btn-default:active {
    color: black;
    background: #e7e7e7;
  }
}
#score {
  background-color: #9ba0a9;
  padding: 0 27px;
  border-radius: 5px;
  border: 3px solid white;
  height: 30px;
  overflow: hidden;
  span {
    color: white;
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    font-family: 'ClearSans', sans-serif;
  }
}
input.level[data-toggle="tooltip"], input.part_number[data-toggle="tooltip"] {
  text-align: center;
  height: 30px;
  width: 30px;
  padding: 0;
  border: 2px solid #eff0f2;
  border-top: none;
  border-bottom: none;
}
.auto_play, .play.btn {
  &[active=active] {
    -moz-box-shadow: inset 0 0 10px #0000006e;
    -webkit-box-shadow: inset 0 0 10px #0000006e;
    box-shadow: inset 0 0 10px #0000006e;
  }
}
.auto_play {
  background-color: #f4bc59;
}
.play.btn {
  background-color: #c7d465;
}

.mobile_info {
  display: none;
  color: white;
  text-align: center;
  > span {
    background: rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    vertical-align: bottom;
    display: inline-block;
    width: 30%;
    margin: 0;
    padding-left: 10px;
    text-align: left;
    border-radius: 3px;
  }
  div {
    display: inline-block;
    width: 50px;
    height: 30px;
    line-height: 30px;
    vertical-align: text-bottom;
  }
  div.b, .b.odometer-auto-theme {
    font-weight: bold;
    width: calc(100% - 60px);
    text-align: center;
    vertical-align: text-bottom;
  }
}

.notification_holder {
  display: none;
  height: 120px;
  width: 95%;
  margin: 10px auto;
  border: 3px dashed #777;
  border-radius: 5px;
  overflow: hidden;
  div[data-notify="container"] {
    height: 100%;
    padding: 10px;
    top: 0 !important;
    margin: 0;
  }
  .alert-warning {
    background: #ffde59;
  }
}

.mobile_controll {
  display: none;
  text-align: center;
  padding-bottom: 20px;
  button {
    background: #777777;
    border-radius: 50%;
    width: 30vw;
    height: 30vw;
    padding: 0;
    line-height: 30vw;
    font-size: 25vw;
    color: white;
    position: relative;
    i {
      line-height: 30vw;
      vertical-align: bottom;
    }
  }
  .play.mob {
    width: 35vw;
    height: 35vw;
    font-size: 30vw;
    i {line-height: 35vw;}
  }
  span {
    position: absolute;
    font-weight: bold;
    width: 30vw;
    left: 0;
    font-size: 10vw;
  }
  i {
    -moz-transform: rotate(-90deg); /* Для Firefox */
    -ms-transform: rotate(-90deg); /* Для IE */
    -webkit-transform: rotate(-90deg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(-90deg); /* Для Opera */
    transform: rotate(-90deg);
  }
}

.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
 }

/* For card-images  */
.test_card {
  background: #eee;
  margin: 5px;
}

table.test_part {
  display: none;
  width: calc(100% - 14px);
  max-width: 800px;
  padding: 4px;
  margin: 10px auto;
  border-collapse: collapse;
  border-radius: 5px;
  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: 0 0 0 4px #777; /* this draws the table border  */
  table-layout: fixed;
  td {
    border: 4px solid #777;
    position: relative;
    padding: 0;
    &:after {
      content: '';
      display: block;
      margin-top: 100%;
    }
    img {
      z-index: 100;
    }
    h3 {
      word-break: break-all;
      text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
    }
    > *, img {
      position: absolute;
      margin: 0;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
    }
  }
  tr.example h3, h3.over {
    z-index: 1000;
  }
}

h2.description.card.not_drag {
  height: calc(100% - 3rem - 12px);
  min-height: calc(100% - 3rem - 12px)
}

img.card, .description.card.not_drag {
  margin: 10px auto;
}
.connectedSortable img, img.card, .exampleSortable img, .description.card.not_drag {
  width: 100%;
  height: 80%;
  background: white;
  overflow: hidden;
  object-fit: cover;
}

.connectedSortable, .exampleSortable {
  margin: 0;
  img {
    height: 100%;
    border-radius: 6px;
  }
}

/* For bootstrap popup */
.btn-group-vertical {
  width: 100%;
  button {text-align: left;}
}
