$block_size: calc(20vh - 18px);
$img_size: calc(20vh - 20px);

#try_again .modal-body {
  text-align: center;
  img {
    height: 20vw;
    max-width: 100%;
    min-height: 150px;
  }
}

.connectedSortable, .exampleSortable {
  border: 1px solid #eee;
  list-style-type: none;
  padding: 0;
  display: table;
  margin: 10px auto;
  width: 15vw;
  height: 13vw;
}
.full-width {
  position: absolute;
  top: 0;
  line-height: 13vw;
  margin: 0;
  padding: 2.5px 0;
  width: 100%;
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.temp_black {
  background: rgba(193, 189, 189, 0.6);
}
.img_over {
  position: absolute;
  left: 0;
  right: 0;
  font-size: calc(13vw + 5px);
}
.good {
  color: green;
  &:before {
    margin: auto 1vw;
  }
}
.bad {
  color: red;
  /* But this need */
  &:before {
    margin: auto calc(2vw + 5px);
  }
}
.slides_btns > .row > .col-2 {
  display: table;
  padding: 0;
  width: initial;
  margin: 0 10px 0 0;
  flex-basis: unset;
  min-width: -moz-min-content;
  min-width: -webkit-min-content;
  > button {
    padding: 5px;
  }
}

.ui-state-default {
  height: inherit;
}
.bage {
  margin: auto;
}
#refresh_btn {
  display: none;
}
.connectedSortable li {
  position: relative;
  float: left;
  width: 15vw;
  height: 13vw;
}
.ui-state-highlight {
  height: 1.5em;
  line-height: 1.2em;
 }

/* For card-images  */
.test_card {
  background: #eee;
  margin: 5px;
}

.test_part > .row {
  margin-bottom: 20px;
}

h2.description.card.not_drag {
  height: calc(100% - 3rem - 12px);
  min-height: calc(100% - 3rem - 12px)
}

img.card, .description.card.not_drag {
  margin: 10px auto;
}
.connectedSortable img, img.card, .exampleSortable img, .description.card.not_drag {
  width: 100%;
  height: 80%;
  border: 9px solid #eee;
  background: white;
  overflow: hidden;
  min-height: 100px;
}

.connectedSortable, .exampleSortable {
  margin-top: 2px;
  margin-bottom: 0;
  img {
    height: 100%;
  }
}

// .slider-block {
//   .card_block {
//     height: $block_size;
//     width: $block_size;
//   }
//   .connectedSortable img, img.card, .exampleSortable img {
//     height: $img_size;
//     width: $img_size;
//   }
// }

/* For bootstrap popup */
.btn-group-vertical {
  width: 100%;
  button {text-align: left;}
}
