// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.d-from-md-none {
  display: none;
}

.test_part > .row > .col-2 {
  max-width: 170px;
}

@media (max-width: #{$screen-lg-min}) {

}

@media (max-width: #{$screen-md-min}) {
  body {padding-left: 0 !important;}
  .sidenav {display: none;}
  .d-from-md-none {display: block;}
  .connectedSortable, .exampleSortable, .connectedSortable li {
    width: 17vw;
    height: 17vw;
    min-width: 100px;
    min-height: 100px;
  }
  .test_part .connectedSortable img {
    height: 100%;
  }
  .test_part > .row > .col-2 {
    padding: 0;
    margin: auto 5px;
    max-width: 144px;
  }
  .img_over {
    font-size: 17vw;
  }
  .test_card {
    background: #eee;
  }
}

@media (max-width: #{$screen-sm-min}) {
  .test_card {
    margin: 5px 0;
  }
  h2.description.card.not_drag {
    min-height: 300px;
    line-height: 300px;
  }

}

@media (max-width: 360px) {
}
