// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.d-from-md-none {
  display: none;
}

.test_part > .row > .col {
  max-width: inherit;
}

@media (max-width: #{$screen-lg-min}) {

}

@media (max-width: #{$screen-md-min}) {
  body {padding-left: 0 !important;}
  .sidenav {display: none;}
  .d-from-md-none {display: block;}
  .connectedSortable, .exampleSortable, .connectedSortable li {
    width: 17vw;
    height: 17vw;
    min-width: 100px;
    min-height: 100px;
  }
  .test_part .connectedSortable img {
    height: 100%;
  }
  .test_part > .row > .col {
    padding: 0;
    margin-left: 2px;
    margin-right: 2px;
    max-width: initial;
  }
  .img_over {
    font-size: 17vw;
  }
  .test_card {
    background: #eee;
  }
  .img_over {
    &:before {
      margin: auto 2vw;
    }
  }
}

@media (max-width: #{$screen-sm-min}) {
  .test_card {
    margin: 5px 0;
  }
  .connectedSortable img, img.card, .exampleSortable img, .description.card.not_drag {
    height: 90%;
  }
  h2.description.card.not_drag {
    min-height: 300px;
    line-height: 300px;
  }
  .test_part > .row > .col {
    width: 100px;
    max-width: 100px;
  }
  .img_over {
    font-size: 100px;
  }
  .good {
    &:before  {
      margin: auto;
    }
  }
}

@media screen and (max-width: #{$screen-sm-min}) and (min-width: 475px) {
  .card_block.col-6 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (max-width: 360px) {
}
