// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

.d-from-md-none {
  display: none;
}

@media (max-width: #{$screen-lg-min}) {

}

@media (min-width: #{$screen-md-min}) {
  .mobile_controll, .mobile_info, .notification_holder {
    display: none !important;
  }
}

@media (max-width: #{$screen-md-min}) {
  body {padding-left: 0 !important;}
  .d-from-md-none {display: block;}
  table.test_part {
    max-width: 600px;
    td h3 {
      display: none;
    }
  }
  .img_over {
    font-size: 45px;
  }
  .test_card {
    background: #eee;
  }
}

@media (max-width: #{$screen-sm-min}) {
  .test_card {
    margin: 5px 0;
    height: min-content;
  }
  .connectedSortable img, img.card, .exampleSortable img, .description.card.not_drag {
    height: 90%;
  }
  h2.description.card.not_drag {
    min-height: 300px;
    line-height: 300px;
  }
  .full-width.text-capitalize {
    display: none;
  }
}

@media screen and (max-width: #{$screen-sm-min}) and (min-width: 475px) {
  .full-width {
    line-height: 1em;
    font-size: 19px;
  }

  .card_block.col-6 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

@media (max-width: 500px) {
  .bottomnav {display: none;}
  .mobnav button.btn {
    border-radius: 5px;
    border-color: #d9d9d9;
  }
  .card_block {
    padding: 2px;
    img {
      border: none;
    }
  }
}
