<td class="center" align="center" valign="top" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word">
  <center style="min-width: 580px; width: 100%">
    <table class=" spacer  float-center" align="center" style="border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: 100%">
      <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
          <td height="20px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; hyphens: auto; line-height: 20px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
            align="left" valign="top">&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <table class="header-spacer spacer  float-center" align="center" style="border-collapse: collapse; border-spacing: 0; float: none; line-height: 60px; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: 100%">
      <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
          <td height="16px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 16px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
            align="left" valign="top">&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <div class="milkyway-header float-center" align="center">

    </div>
    <table class="header-spacer-bottom spacer  float-center" align="center" style="border-collapse: collapse; border-spacing: 0; float: none; line-height: 30px; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: 100%">
      <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
          <td height="16px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 16px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
            align="left" valign="top">&nbsp;</td>
        </tr>
      </tbody>
    </table>

    <table class="milkyway-email-card container float-center" align="center" style="background: #FFFFFF; border-collapse: collapse; border-radius: 6px; border-spacing: 0; box-shadow: 0 1px 8px 0 rgba(28,35,43,0.15); float: none; margin: 0 auto; overflow: hidden; padding: 0; text-align: center; vertical-align: top; width: 580px"
      bgcolor="#FFFFFF">
      <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
          <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
            align="left" valign="top">

            <table class="milkyway-content confirmation-instructions container" align="center" style="background: #FFFFFF; border-collapse: collapse; border-spacing: 0; hyphens: none; margin: auto; max-width: 100%; padding: 0; text-align: inherit; vertical-align: top; width: 280px !important"
              bgcolor="#FFFFFF">
              <tbody>
                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                  <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
                    align="left" valign="top">
                    <table class=" spacer " style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <td height="30px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 30px; font-weight: normal; hyphens: auto; line-height: 30px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
                            align="left" valign="top">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class=" row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <th class=" small-12 large-12 columns first last" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; text-align: left; width: 564px" align="left">
                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                  <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                                    <center style="min-width: 0; width: 100%">
                                      <svg class="thumb" viewBox="0,0,576,306" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:ns1="http://www.inkscape.org/namespaces/inkscape" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg" style="width: 100%;">
                                        <defs></defs>
                                        <g transform="matrix(4.7709,0,0,4.7709,197.7736,80.8208)">
                                        <svg height="24.57281746602507" viewBox="0.24860869179192147,1030.8712023785843,31.501132414349705,24.57281746602507" width="31.501132414349705">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon181" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#0e1e40"></stop>
                                        <stop offset="100%" stop-color="#0e1e40"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 25.672,1035.8717 a 0.50004997,0.4999148 0 0 0 ,-0.4473,0.6697 c 1.3248,3.8683 0.095,8.1465 -3.0801,10.7236 -3.1751,2.5771 -7.6162,2.8992 -11.1308,0.8084 -3.5147,-2.0907 -5.3487,-6.146 -4.5977,-10.1652 a 0.50063845,0.50050313 0 0 0 ,-0.9843,-0.1835 c -0.8275,4.4279 1.1982,8.9045 5.0703,11.2079 3.872,2.3033 8.7754,1.9487 12.2734,-0.8904 3.498,-2.8392 4.854,-7.5632 3.3945,-11.8249 a 0.50004997,0.4999148 0 0 0 ,-0.498,-0.3456 z" fill="url('#linearGradientSjjr4olon181')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: nonzero; stroke: none; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,205.6876,91.6011)">
                                        <svg height="17.618808077528683" viewBox="2.082317891489339,1033.2887649328954,18.39502972442261,17.618808077528683" width="18.39502972442261">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon187" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#0e1e40"></stop>
                                        <stop offset="100%" stop-color="#0e1e40"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 14.961,1038.2909 a 0.50005,0.49991483 0 0 0 ,-0.033,0 c -4.0272,0.4428 -7.2612,3.3116 -7.8378,7.0294 a 0.50005,0.49991483 0 1 0 0.9882,0.1523 c 0.5017,-3.2341 3.339,-5.7898 6.959,-6.1877 a 0.50005,0.49991483 0 0 0 ,-0.076,-0.9959 z" fill="url('#linearGradientSjjr4olon187')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: nonzero; stroke: none; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,220.0007,14.3036)">
                                        <svg height="13.800199999999904" viewBox="5.5021,1018.1110000000003,20.994099999999996,13.800199999999904" width="20.994099999999996">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon18d" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 16.0001,1023.1115 c -1.7589,0 -4.8672,0.7634 -4.8672,0.7634 l -0.3418,0.082 -0.289,2.5989 0.9941,0.1094 0.209,-1.8726 c 0.4087,-0.093 2.9541,-0.6814 4.2949,-0.6814 1.3403,0 3.8802,0.5882 4.291,0.6814 l 0.211,2.1186 0.9941,-0.1 -0.2852,-2.8548 -0.3457,-0.082 c 0,0 -3.1062,-0.7634 -4.8652,-0.7634 z" fill="url('#linearGradientSjjr4olon18d')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,206.1694,0.4723)">
                                        <svg height="14.4808060011718" viewBox="2.4983501956010414,1015.362193998828,27.00225533525095,14.4808060011718" width="27.00225533525095">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon18j" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 16.0021,1020.3622 a 0.50005,0.49991483 0 0 0 ,-0.1524,0.023 l -8,2.515 a 0.50005,0.49991483 0 0 0 0.014,0.9586 l 2,0.5624 1,0.2812 0.5,0.1406 0.2715,-0.9627 -0.5,-0.1405 -1,-0.2811 -0.3867,-0.1094 6.2519,-1.9644 6.25,1.9644 -0.3867,0.1094 -1,0.2811 -0.5,0.1405 0.2715,0.9627 0.5,-0.1406 1,-0.2812 2,-0.5624 a 0.50005,0.49991483 0 0 0 0.014,-0.9586 l -8,-2.515 a 0.50005,0.49991483 0 0 0 ,-0.1465,-0.023 z" fill="url('#linearGradientSjjr4olon18j')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: butt; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,206.1689,139.9764)">
                                        <svg height="12.758302776899654" viewBox="1.499954798946609,1044.6042967677254,11.502702267774614,12.758302776899654" width="11.502702267774614">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon18p" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 7.0021,1049.6043 a 0.50005,0.49991483 0 0 0 ,-0.4805,0.6443 l 0.4961,1.7359 a 0.50005,0.49991483 0 1 0 0.9609,-0.2753 l -0.4961,-1.7359 a 0.50005,0.49991483 0 0 0 ,-0.4804,-0.369 z" fill="url('#linearGradientSjjr4olon18p')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,212.8439,139.4024)">
                                        <svg height="12.758302776899654" viewBox="3.249954798946609,1044.6042967677254,11.502702267774616,12.758302776899654" width="11.502702267774616">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon18v" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 8.7521,1049.6043 a 0.50005,0.49991483 0 0 0 ,-0.4805,0.6443 l 0.4961,1.7359 a 0.50005,0.49991483 0 1 0 0.9609,-0.2753 l -0.4961,-1.7359 a 0.50005,0.49991483 0 0 0 ,-0.4804,-0.369 z" fill="url('#linearGradientSjjr4olon18v')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,219.9079,139.9764)">
                                        <svg height="12.758302776899654" viewBox="4.999954798946609,1044.6042967677254,11.502702267774618,12.758302776899654" width="11.502702267774618">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon191" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 10.5021,1049.6043 a 0.50005,0.49991483 0 0 0 ,-0.4805,0.6443 l 0.4961,1.7359 a 0.50005,0.49991483 0 1 0 0.9609,-0.2753 l -0.4961,-1.7359 a 0.50005,0.49991483 0 0 0 ,-0.4804,-0.369 z" fill="url('#linearGradientSjjr4olon191')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,284.9809,140.5494)">
                                        <svg height="12.758762730487433" viewBox="18.996924443194125,1044.6039092159676,11.503468664897344,12.758762730487433" width="11.503468664897344">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon197" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 24.9806,1049.6043 a 0.50005,0.49991483 0 0 0 ,-0.4629,0.369 l -0.4961,1.7359 a 0.50005,0.49991483 0 1 0 0.9609,0.2753 l 0.4961,-1.7359 a 0.50005,0.49991483 0 0 0 ,-0.498,-0.6443 z" fill="url('#linearGradientSjjr4olon197')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,277.7329,140.5494)">
                                        <svg height="12.758762730487433" viewBox="17.246924443194125,1044.6039092159676,11.503468664897344,12.758762730487433" width="11.503468664897344">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon19d" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 23.2306,1049.6043 a 0.50005,0.49991483 0 0 0 ,-0.4629,0.369 l -0.4961,1.7359 a 0.50005,0.49991483 0 1 0 0.9609,0.2753 l 0.4961,-1.7359 a 0.50005,0.49991483 0 0 0 ,-0.498,-0.6443 z" fill="url('#linearGradientSjjr4olon19d')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,270.0949,140.5494)">
                                        <svg height="12.758762730487433" viewBox="15.496924443194118,1044.6039092159676,11.503468664897355,12.758762730487433" width="11.503468664897355">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon19j" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 21.4806,1049.6043 a 0.50005,0.49991483 0 0 0 ,-0.4629,0.369 l -0.4961,1.7359 a 0.50005,0.49991483 0 1 0 0.9609,0.2753 l 0.4961,-1.7359 a 0.50005,0.49991483 0 0 0 ,-0.498,-0.6443 z" fill="url('#linearGradientSjjr4olon19j')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,255.5981,91.028)">
                                        <svg height="15.40475915409047" viewBox="11.628966057660051,1033.3046,17.57401360708473,15.40475915409047" width="17.57401360708473">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon19p" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#0e1e40"></stop>
                                        <stop offset="100%" stop-color="#0e1e40"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 17.0978,1038.3046 a 0.50005,0.49991483 0 0 0 ,-0.022,0.9959 c 2.7081,0.3333 5.0294,1.8961 6.1738,4.1199 a 0.50005,0.49991483 0 1 0 0.8887,-0.4569 c -1.3083,-2.5422 -3.9261,-4.2838 -6.9414,-4.655 a 0.50005,0.49991483 0 0 0 ,-0.1,0 z" fill="url('#linearGradientSjjr4olon19p')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: nonzero; stroke: none; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,198.4387,43.3188)">
                                        <svg height="19.997299999999996" viewBox="0.00009999999999976694,1023.3599999999999,20,19.997299999999996" width="20">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon19v" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#0e1e40"></stop>
                                        <stop offset="100%" stop-color="#0e1e40"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 10.0001,1028.36 c -2.7555,0 -5,2.2439 -5,4.9987 0,2.7547 2.2445,4.9986 5,4.9986 2.7555,0 5,-2.2439 5,-4.9986 0,-2.7548 -2.2445,-4.9987 -5,-4.9987 z m 0,0.9998 c 2.2151,0 4,1.7844 4,3.9989 0,2.2145 -1.7849,3.9989 -4,3.9989 -2.215,0 -4,-1.7844 -4,-3.9989 0,-2.2145 1.785,-3.9989 4,-3.9989 z" fill="url('#linearGradientSjjr4olon19v')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: nonzero; stroke: none; stroke-width: 1; stroke-linecap: butt; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,262.847,52.8606)">
                                        <svg height="15.996925621749142" viewBox="13.99915592802991,1025.3604484902053,15.99930347016733,15.996925621749142" width="15.99930347016733">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon1a1" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 21.8771,1030.3634 c -0.6751,0.028 -1.3421,0.2824 -1.875,0.7576 a 0.5000553,0.49992013 0 1 0 0.666,0.7459 c 0.7143,-0.637 1.7708,-0.6816 2.5351,-0.1055 0.7643,0.5762 1.0138,1.6044 0.5977,2.4661 -0.4161,0.8618 -1.3761,1.306 -2.3027,1.0662 -0.9267,-0.2398 -1.5506,-1.0928 -1.4961,-2.0483 a 0.50004997,0.4999148 0 1 0 ,-0.9981,-0.057 c -0.081,1.4254 0.8616,2.7156 2.2442,3.0734 1.3825,0.3577 2.8323,-0.3134 3.4531,-1.5992 0.6208,-1.2858 0.2438,-2.8386 -0.8965,-3.6982 -0.5702,-0.4299 -1.2527,-0.6292 -1.9277,-0.6014 z" fill="url('#linearGradientSjjr4olon1a1')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: nonzero; stroke: none; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,274.8659,59.3517)">
                                        <svg height="11.835311829550164" viewBox="16.498317063160236,1027.025,11.835782936839763,11.835311829550164" width="11.835782936839763">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon1a7" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 22.0001,1032.025 a 0.501,0.50086457 0 1 0 0,1.0018 c 0.1895,0 0.332,0.1424 0.332,0.3319 a 0.501,0.50086457 0 1 0 1.002,0 c 0,-0.7307 -0.6031,-1.3337 -1.334,-1.3337 z" fill="url('#linearGradientSjjr4olon1a7')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: nonzero; stroke: none; stroke-width: 1.00157; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,255.6907,43.3188)">
                                        <svg height="19.997299999999996" viewBox="12.0001,1023.3599999999999,20,19.997299999999996" width="20">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon1ad" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#0e1e40"></stop>
                                        <stop offset="100%" stop-color="#0e1e40"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 22.0001,1028.36 c -2.7555,0 -5,2.2439 -5,4.9987 0,2.7547 2.2445,4.9986 5,4.9986 2.7555,0 5,-2.2439 5,-4.9986 0,-2.7548 -2.2445,-4.9987 -5,-4.9987 z m 0,0.9998 c 2.2151,0 4,1.7844 4,3.9989 0,2.2145 -1.7849,3.9989 -4,3.9989 -2.215,0 -4,-1.7844 -4,-3.9989 0,-2.2145 1.785,-3.9989 4,-3.9989 z" fill="url('#linearGradientSjjr4olon1ad')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: nonzero; stroke: none; stroke-width: 1; stroke-linecap: butt; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,202.2474,20.8865)">
                                        <svg height="12.48029395209005" viewBox="2.0215467870229222,1019.8297,12.986253212977077,12.48029395209005" width="12.986253212977077">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon1aj" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 8.5157,1024.8297 c -0.8205,0 -1.4941,0.6792 -1.4941,1.4996 a 0.50005,0.49991483 0 1 0 1,0 c 0,-0.2838 0.2177,-0.4999 0.4941,-0.4999 0.2763,0 0.4922,0.2161 0.4922,0.4999 0,0.1139 -0.014,0.2744 -0.031,0.3359 a 0.50005,0.49991483 0 1 0 0.9629,0.2694 c 0.065,-0.2314 0.068,-0.4431 0.068,-0.6053 0,-0.8204 -0.6716,-1.4996 -1.4922,-1.4996 z" fill="url('#linearGradientSjjr4olon1aj')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: nonzero; stroke: none; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,205.7789,13.7302)">
                                        <svg height="11.999400000000037" viewBox="3.0000999999999998,1018.3613999999999,11,11.999400000000037" width="11">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon1ap" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 8.0001,1023.3614 0,1.9994 1,0 0,-1.9994 z" fill="url('#linearGradientSjjr4olon1ap')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,205.596,52.8606)">
                                        <svg height="15.996938519673904" viewBox="2.000049798357404,1025.3615682958675,15.998528660562675,15.996938519673904" width="15.998528660562675">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon1av" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 9.629,1030.3849 c -0.6739,0.084 -1.3199,0.3953 -1.8125,0.9177 a 0.5001556,0.5000204 0 1 0 0.7285,0.6854 c 0.6605,-0.7005 1.7171,-0.8333 2.5293,-0.3164 0.8123,0.517 1.1385,1.5305 0.7832,2.4252 -0.3553,0.8946 -1.2886,1.407 -2.2343,1.2261 -0.9458,-0.1807 -1.6231,-1.0016 -1.6231,-1.9642 a 0.50004997,0.4999148 0 1 0 ,-1,0 c 0,1.436 1.0247,2.6767 2.4356,2.9465 1.4108,0.2696 2.8215,-0.5048 3.3515,-1.8394 0.53,-1.3347 0.036,-2.8665 -1.1758,-3.6377 -0.6058,-0.3855 -1.3085,-0.5272 -1.9824,-0.4432 z" fill="url('#linearGradientSjjr4olon1av')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: nonzero; stroke: none; stroke-width: 1; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,218.1879,60.4985)">
                                        <svg height="11.835311805996753" viewBox="4.498317063160236,1027.025,11.835782936839765,11.835311805996753" width="11.835782936839765">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon1b1" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 10.0001,1032.025 a 0.501,0.50086457 0 1 0 0,1.0018 c 0.1895,0 0.332,0.1424 0.332,0.3319 a 0.501,0.50086457 0 1 0 1.002,0 c 0,-0.7307 -0.6031,-1.3337 -1.334,-1.3337 z" fill="url('#linearGradientSjjr4olon1b1')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: nonzero; stroke: none; stroke-width: 1.00157; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,194.3336,27.1939)">
                                        <svg height="14.516621713410132" viewBox="-0.00008236360572944079,1020.6044999999992,31.99595484545293,14.516621713410132" width="31.99595484545293">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon1b7" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#0e1e40"></stop>
                                        <stop offset="100%" stop-color="#0e1e40"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 5.5079,1025.6108 a 0.50004997,0.4999148 0 0 0 ,-0.5078,0.4978 0.50004997,0.4999148 0 0 0 0,0.025 c 0,0 0,0.014 0,0.014 a 0.50004997,0.4999148 0 0 0 0,0.027 c 0,0.037 0.036,0.6998 0.1621,1.4957 0.065,0.4089 0.1529,0.8445 0.2793,1.2439 0.1264,0.3993 0.2729,0.7665 0.5625,1.0544 a 0.50004997,0.4999148 0 1 0 0.7051,-0.7088 c -0.072,-0.071 -0.2115,-0.321 -0.3144,-0.6463 -0.103,-0.3253 -0.1861,-0.7215 -0.2461,-1.0993 -0.06,-0.3773 -0.053,-0.4518 -0.076,-0.7147 0.4919,0.1745 0.9883,0.3787 1.6074,0.4764 2.0418,0.3227 4.0063,-0.3084 5.6523,0.125 0.3185,0.084 0.9063,0.3848 1.3711,0.6619 0.4649,0.2771 0.8262,0.5253 0.8262,0.5253 a 0.50004997,0.4999148 0 0 0 0.5332,0.023 c 0,0 0.4548,-0.2625 1.0352,-0.5526 0.5804,-0.2901 1.3022,-0.6036 1.7207,-0.6971 1.6232,-0.3623 3.5102,0.2017 5.4824,-0.084 0.6342,-0.092 1.1759,-0.2978 1.6582,-0.4589 0,0.2394 0.013,0.2996 -0.033,0.6737 -0.044,0.3653 -0.1187,0.763 -0.2324,1.1266 a 0.50037422,0.50023897 0 0 0 0.9551,0.2987 c 0.1383,-0.4424 0.2198,-0.8943 0.2695,-1.3043 0.1014,-0.8189 0.074,-1.4821 0.074,-1.4821 a 0.50004997,0.4999148 0 0 0 ,-0.6641,-0.4529 c 0,0 -1.5208,0.5132 -2.1699,0.6072 -1.6704,0.242 -3.5902,-0.3417 -5.5586,0.098 -0.6156,0.1374 -1.3401,0.4746 -1.9492,0.7791 -0.4558,0.2278 -0.651,0.3414 -0.8144,0.4334 -0.1441,-0.097 -0.2722,-0.1864 -0.6211,-0.3945 -0.4964,-0.2959 -1.0843,-0.6265 -1.627,-0.7692 -2.0295,-0.5344 -4.0385,0.1262 -5.7519,-0.1445 -0.6465,-0.1021 -2.1661,-0.6502 -2.1661,-0.6502 l 0,0 a 0.50004997,0.4999148 0 0 0 ,-0.168,-0.033 z" fill="url('#linearGradientSjjr4olon1b7')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(4.7709,0,0,4.7709,238.9005,76.715)">
                                        <svg height="15.497443553388393" viewBox="8.749451976350011,1030.3579204442267,14.499996047299975,15.497443553388393" width="14.499996047299975">
                                        <defs>
                                        <linearGradient id="linearGradientSjjr4olon1bd" x1="0" x2="1" y1="0.5" y2="0.5">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g>
                                        <path d="m 15.9864,1035.3581 a 0.50005,0.49991483 0 0 0 ,-0.3378,0.1426 l -1.75,1.7163 a 0.50005,0.49991483 0 0 0 ,-0.072,0.6229 l 1.75,2.7824 a 0.50005,0.49991483 0 0 0 0.8457,0 l 1.75,-2.7824 a 0.50005,0.49991483 0 0 0 ,-0.072,-0.6229 l -1.75,-1.7163 a 0.50005,0.49991483 0 0 0 ,-0.3633,-0.1426 z m 0.014,1.2009 1.1113,1.0895 -1.1132,1.769 -1.1114,-1.769 z" fill="url('#linearGradientSjjr4olon1bd')" style="color: rgb(0, 0, 0); font-style: normal; font-variant: normal; font-weight: normal; font-stretch: normal; font-size: medium; line-height: normal; font-family: sans-serif; text-indent: 0px; text-align: start; text-decoration: none solid rgb(0, 0, 0); letter-spacing: normal; word-spacing: normal; text-transform: none; direction: ltr; writing-mode: lr-tb; baseline-shift: baseline; text-anchor: start; white-space: normal; clip-rule: nonzero; display: inline; overflow: visible; visibility: visible; opacity: 1; isolation: auto; mix-blend-mode: normal; color-interpolation: sRGB; color-interpolation-filters: linearRGB; fill-opacity: 1; fill-rule: evenodd; stroke: none; stroke-width: 1px; stroke-linecap: round; stroke-linejoin: round; stroke-miterlimit: 4; stroke-dasharray: none; stroke-dashoffset: 0; stroke-opacity: 1; color-rendering: auto; image-rendering: auto; shape-rendering: auto; text-rendering: auto;"></path>
                                        </g>
                                        </svg>
                                        </g>
                                        <g transform="matrix(0.7255,0,0,0.7255,66.1517,179.2433)">
                                        <svg height="122" style="overflow: visible;" width="400">
                                        <defs>
                                        <linearGradient gradientUnits="userSpaceOnUse" id="linearGradientSjjr4olon1bm" x1="0" x2="400" y1="61" y2="61">
                                        <stop offset="0%" stop-color="#68c2e8"></stop>
                                        <stop offset="100%" stop-color="#68c2e8"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g></g>
                                        <path d="M-229.1640625,105 C-20,104 20,104 229.1640625,105" fill="none" style=""></path>
                                        <text dy="79.3" fill="url('#linearGradientSjjr4olon1bm')" style="font-size: 100px; font-weight: bold; font-family: Montserrat; text-anchor: middle;" x="280">Bingo</text>
                                        </svg>
                                        </g>
                                        <g transform="matrix(0.4473,0,0,0.4473,187.2107,252.5204)">
                                        <svg height="122" style="overflow: visible;" width="550.5">
                                        <defs>
                                        <linearGradient gradientUnits="userSpaceOnUse" id="linearGradientSjjr4olon1bu" x1="0" x2="550.5" y1="61" y2="61">
                                        <stop offset="0%" stop-color="#0e1e40"></stop>
                                        <stop offset="100%" stop-color="#0e1e40"></stop>
                                        </linearGradient>
                                        </defs>
                                        <g></g>
                                        <path d="M-280.34375,102 C-20,101 20,101 280.34375,102" fill="none" style=""></path>
                                        <text dy="79.3" fill="url('#linearGradientSjjr4olon1bu')" style="font-size: 100px; font-family: Montserrat; text-anchor: middle;" x="183.5">Linguo</text>
                                        </svg>
                                        </g>
                                        </svg>
                                    </center>
                                  </th>
                                  <th class="expander" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; visibility: hidden; width: 0" align="left"></th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class=" spacer " style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <td height="30px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 30px; font-weight: normal; hyphens: auto; line-height: 30px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
                            align="left" valign="top">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class=" row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <th class="header-padding small-12 large-12 columns first last" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; text-align: left; width: 564px" align="left">
                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                  <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                                    <h1 class="welcome-header" style="color: inherit; font-family: Helvetica, Arial, sans-serif; font-size: 24px; font-weight: 600; hyphens: none; line-height: 30px; margin: 0 0 24px; padding: 0; text-align: left; width: 100%; word-wrap: normal" align="left">
                                      You're ready to go!
                                    </h1>
                                  </th>
                                  <th class="expander" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; visibility: hidden; width: 0" align="left"></th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class=" row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <th class="body-content small-12 large-12 columns first last" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; text-align: left; width: 564px" align="left">
                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                  <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                                    <h2 class="welcome-subcontent" style="color: #6F7881; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 22px; margin: 0; padding: 0; text-align: left; width: 100%; word-wrap: normal" align="left">
                                      Hello.
                                    </h2>
                                  </th>
                                  <th class="expander" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; visibility: hidden; width: 0" align="left"></th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class=" row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <th class="body-content-end small-12 large-12 columns first last" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; text-align: left; width: 564px" align="left">
                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                  <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                                    <h2 class="welcome-subcontent" style="color: #6F7881; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; line-height: 22px; margin: 0; padding: 0; text-align: left; width: 100%; word-wrap: normal" align="left">
                                      We've finished setting up your BingoLinguo account. Just confirm your email to get started!
                                    </h2>
                                  </th>
                                  <th class="expander" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; visibility: hidden; width: 0" align="left"></th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                    <table class=" spacer " style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <td height="30px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 30px; font-weight: normal; hyphens: auto; line-height: 30px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
                            align="left" valign="top">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="milkyway-content row" style="border-collapse: collapse; border-spacing: 0; display: table; hyphens: none; margin: auto; max-width: 100%; padding: 0; position: relative; text-align: left; vertical-align: top; width: 280px !important">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <th class="milkyway-padding small-12 large-12 columns first last" valign="middle" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0; text-align: left; width: 564px"
                            align="left">
                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                  <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                                    <table class="cta-text primary radius expanded button" style="border-collapse: collapse; border-spacing: 0; font-size: 14px; font-weight: 400; line-height: 0; margin: 0 0 16px; padding: 0; text-align: left; vertical-align: top; width: 100% !important">
                                      <tbody>
                                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                          <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
                                            align="left" valign="top">
                                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                                              <tbody>
                                                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                                  <td style="-moz-hyphens: auto; -webkit-hyphens: auto; background: #4E78F1; border: 2px none #4e78f1; border-collapse: collapse !important; border-radius: 6px; color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
                                                    align="left" bgcolor="#4E78F1" valign="top">
                                                    <%= link_to confirmation_url(@resource, confirmation_token: @token), {:style => 'border: 0 solid #4e78f1; border-radius: 6px; color: #FFFFFF; display: inline-block; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: bold; line-height: 1.3; margin: 0; padding: 13px 0; text-align: center; text-decoration: none; width: 100%', :target => '_blank'} do %>
                                                      <p class="text-center" style="color: white; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 300; letter-spacing: 1px; line-height: 1.3; margin: 0; padding: 0; text-align: center" align="center">
                                                        Confirm email
                                                      </p>
                                                    <% end %>
                                                  </td>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </th>
                                  <th class="expander" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; visibility: hidden; width: 0" align="left"></th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>

                    <table class=" spacer " style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <td height="10px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 10px; font-weight: normal; hyphens: auto; line-height: 10px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
                            align="left" valign="top">&nbsp;</td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

          </td>
        </tr>
      </tbody>
    </table>
    <table class=" spacer  float-center" align="center" style="border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: 100%">
      <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
          <td height="20px" style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; hyphens: auto; line-height: 20px; margin: 0; mso-line-height-rule: exactly; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
            align="left" valign="top">&nbsp;</td>
        </tr>
      </tbody>
    </table>
    <table class="emailer-footer container float-center" align="center" style="background-color: transparent !important; border-collapse: collapse; border-spacing: 0; float: none; margin: 0 auto; padding: 0; text-align: center; vertical-align: top; width: 580px"
      bgcolor="transparent">
      <tbody>
        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
          <td style="-moz-hyphens: auto; -webkit-hyphens: auto; border-collapse: collapse !important; color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; hyphens: auto; line-height: 1.3; margin: 0; padding: 0; text-align: left; vertical-align: top; word-wrap: break-word"
            align="left" valign="top">
            <table class=" row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
              <tbody>
                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                  <th class=" small-12 large-4 columns first" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0 8px 16px 16px; text-align: left; width: 177.3333333333px"
                    align="left">
                    <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                          </th>
                          <th class="emailer-border-bottom small-12 large-11 columns first" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0 0 16px; text-align: left; width: 91.666666%"
                            align="left">
                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                  <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                                    <p class="text-left small-text-center" style="color: #6F7881; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.5; margin: 0; padding: 0; text-align: left" align="left">
                                      <a target="_blank" href="http://bingolinguo.club/users/sign_in" style="color: #4E78F1; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none">Log in</a>
                                    </p>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                          <th class="show-for-large small-12 large-1 columns last" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0 0 16px; text-align: left; width: 8.333333%" align="left">
                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                  <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                                    <p class="first-bullet" style="color: #6F7881; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; left: 6px; line-height: 1.5; margin: 0; padding: 0; position: relative; text-align: left" align="left">
                                      
                                    </p>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                  <th class=" small-12 large-4 columns" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0 8px 16px; text-align: left; width: 177.3333333333px" align="left">
                    <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                          </th>
                          <th class="emailer-border-bottom small-12 large-11 columns first" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0 0 16px; text-align: left; width: 91.666666%"
                            align="left">
                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                  <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                                    <p class="text-center small-text-center" style="color: #6F7881; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.5; margin: 0; padding: 0; text-align: center" align="center">
                                      <a target="_blank" href="http://bingolinguo.club/game" style="color: #4E78F1; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none">Play a game</a>
                                    </p>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                          <th class="show-for-large small-12 large-1 columns last" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0 0 16px; text-align: left; width: 8.333333%" align="left">
                            <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                              <tbody>
                                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                                  <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                                    <p class="last-bullet" style="color: #6F7881; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; left: 22px; line-height: 1.5; margin: 0; padding: 0; position: relative; text-align: left" align="left">
                                      
                                    </p>
                                  </th>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                  <th class="emailer-border-bottom small-12 large-4 columns last" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0 16px 16px 8px; text-align: left; width: 177.3333333333px"
                    align="left">
                    <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                            <p class="text-center small-text-center" style="color: #6F7881; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.5; margin: 0; padding: 0; text-align: center" align="center">
                              <a target="_blank" href="http://bingolinguo.club/top" style="color: #4E78F1; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none">Top 10</a>
                            </p>
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                </tr>
              </tbody>
            </table>
            <table class="make-you-smile row" style="border-collapse: collapse; border-spacing: 0; display: table; padding: 0; position: relative; text-align: left; vertical-align: top; width: 100%">
              <tbody>
                <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                  <th class=" small-12 large-12 columns first last" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0 auto; padding: 0 16px 16px; text-align: left; width: 564px" align="left">
                    <table style="border-collapse: collapse; border-spacing: 0; padding: 0; text-align: left; vertical-align: top; width: 100%">
                      <tbody>
                        <tr style="padding: 0; text-align: left; vertical-align: top" align="left">
                          <th style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left" align="left">
                            <p class="text-center email-tag-line" style="color: #6F7881; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.5; margin: 0; padding: 0; text-align: center" align="center">
                              Made by LinguaLand with 
                            </p>
                            <p class="help-email-address text-center" style="color: #6F7881; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.5; margin: 0; padding: 0; text-align: center" align="center">
                              <span class="text-divider" style="margin-left: 10px; margin-right: 10px">
                                
                                <%= Time.now.year %>
                                <a href="http://bingolinguo.club" style="color: #4E78F1; font-family: Helvetica, Arial, sans-serif; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; text-decoration: none" target="_blank">
                                BingoLinguo.club
                                </a>
                                </span>
                            </p>
                          </th>
                          <th class="expander" style="color: #1C232B; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; padding: 0; text-align: left; visibility: hidden; width: 0" align="left"></th>
                        </tr>
                      </tbody>
                    </table>
                  </th>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

  </center>
</td>
